@import "tailwindcss";

@theme {
  --color-primary: #cfb07a;
  --color-primary-content: #1a202c;
  --color-primary-dark: #b09259;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0f131a;
  --color-surface-dark: #181d26;
  --color-surface-border: #252b36;
  --color-text-main: #e2e8f0;
  --color-text-muted: #94a3b8;
  --color-accent-blue: #334155;

  --font-display: "Manrope", sans-serif;
  --font-serif: "Playfair Display", serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;
}

@variant dark (&:where(.dark, .dark *));

.primary-button{
  @apply flex items-center justify-center gap-2 rounded-lg h-12 px-8 bg-primary text-primary-content text-base font-bold hover:bg-primary-dark hover:scale-105 transition-all shadow-lg shadow-primary/20 hover:cursor-pointer
}

.secondary-button{
  @apply flex items-center justify-center gap-2 rounded-lg h-12 px-8 bg-surface-dark/50 backdrop-blur-md border border-surface-border text-text-main text-base font-bold hover:bg-surface-dark hover:border-primary/30 transition-all hover:cursor-pointer
}
